

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    z-index: -1;
}



.dashboard-header {
    margin-top: 40px;
}



.container {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
    margin-bottom: 120px;
}

.hero-card {
    background: rgba(233, 4, 4, 0.7);
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.hero-card:hover {
    transform: scale(1.05);
    background: rgba(255,0,0,0.3);
}

.hero-card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 15px;
}



.overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    z-index: 998;
}



.detail-box {
    display: none;
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 650px;
    padding: 25px;
    background: rgba(0,0,0,0.95);
    border-radius: 20px;
    z-index: 999;
}

.detail-box img {
    width: 200px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: red;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.close-btn:hover {
    background: darkred;
}
